* {
  box-sizing: border-box;
}
html {
  background-color: cadetblue;
}

body {
  background-color: #e8e8e8;
}

.greeting {
  font: bold;
  text-align: center;
}

img {
  width: 550px;
  height: 300px;
}

.img-logo{
height: 100px;
width: 100px;
}
