* {
  box-sizing: border-box;
}

body {
  background-color: #e8e8e8;
}

.greeting {
  font: bold;
  text-align: center;
}

img {
  width: 550px;
  height: 300px;
}

.job-search {
  margin-right: 10px;
}

.email-icon {
  width: 4rem;
  height: 4rem;
}

.notification-bell {
  width: 3rem;
  height: 3rem;
}
